body {
    margin: 0px;
    display: flex;
    flex-direction: column;
}

a {
    text-decoration: none;
    color: whitesmoke;
}

ul {
    list-style-type: none;
    display: flex
}

img {
    height: auto;
    width: 100px;
}

.top {
    background-color: #1F2937;
}

.footer {
    background-color: #1F2937;
    color: whitesmoke;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 24px;
}

.quote {
    background-color: #E5E7EB;
    padding-top: 70px;
    padding-bottom: 70px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center
}

.phrase {
    font-size: 18px;
    width: 400px;
    color: #1F2937;
    font-style: italic;
    font-weight: lighter;
    display: flex;
    justify-content: center;
    align-items: center;
}

.author {
    font-weight: bold;
    text-align: end;
    margin-left: 180px;
    margin-top: 0px

}

.author p {
    margin-top: 0px
}

.box button {
    background-color: #3882F6;
    color: whitesmoke;
    border-width: 1px;
    border-radius: 4px;
    border-color: white;
    border-style: solid;
    padding: 4px;
    padding-left: 16px;
    padding-right: 16px;
}

.container-last {
    margin: 16px;
    margin-top: 70px;
    margin-bottom: 70px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.box {
    background-color: #3882F6;
    display: flex;
    color: whitesmoke;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 120px;
    padding-left: 120px;
    border-radius: 8px;
}

.box button {
    margin-top: 40px;
    margin-left: 90px;
    margin-bottom: 40px;
}

.images h2 {
    color: #1F2937;
    font-size: 36px;
    font-weight: bolder;

}

.container-one h1 {
    font-size: 48px;
    font-weight: bolder;
    color: #F9FAF8;
    margin: 5px;
    margin-left: 0px;
}

.container-one {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 50px;
    margin-bottom: 100px
}

.container-one p {
    width: 450px;
    margin-top: 0px;
    margin-bottom: 10px;
}

.container-one img {
    width: 300px;
    height: auto;
    margin-left: 50px;
}

.left-logo {
    font-size: 24px;
    color: #F9FAF8;
}

.top .container-one p,
.top .right-links {
    font-size: 18px;
    color: #e5e7eb;
}

.container-one button {
    background-color: #3882F6;
    border: 0px;
    color: whitesmoke;
    font-weight: bold;
    border-radius: 4px;
    padding: 4px;
    padding-left: 16px;
    padding-right: 16px;
}

.gallery {
    display: flex;
    justify-content: center;
    align-items: center;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 260px;
    margin-right: 260px;
}

.right-links {
    gap: 16px;
    margin-right: 50px;
}